# Data cleaning and consistency check 

### Importing libraries and data sets

### Merge listing with listing_details

### Data consistency check, check for duplicates, missing values 

### Change Datatypes 

### Export new dataframe as 2023_Amsterdam_Airbnb_Data

## Dataset info

#### This dataset was taken form 'Inside Airbnb',  Amsterdam, The Netherlands, 12 Decemer 2023. 
#### The dataset includes a geographical component such as coordination points (longitude/latitude) and categorical/ numeric values. 
#### The listings file is an overview file that 'InsideAirbnb' labels as ''good for visualizations''. The unique identifier in the dataset is the 'listing id'. Overall, there were 8,739 Airbnb listings in Amsterdam on Dec, 12th 2023.

## Importing libraries and data sets

In [243]:
#Import Libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [244]:
#creating pathway for dataframes
path = os.path.join(r'/Users/katja/Documents/Airbnb/02 Data')

In [245]:
#import listings
df_list = pd.read_csv(os.path.join(path, 'Original Data','listings.csv'), index_col = False)

In [246]:
#import listings_details
df_list_detail = pd.read_csv(os.path.join(path, 'Original Data','listings_details.csv'), index_col = False)

In [247]:
#import calendar
df_cal = pd.read_csv(os.path.join(path, 'Original Data','calendar.csv'), index_col = False)

In [248]:
#loading garbage collector
import gc

In [249]:
#checking types
df_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8739 entries, 0 to 8738
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              8739 non-null   int64
 1   name                            8739 non-null   object
 2   host_id                         8739 non-null   int64
 3   host_name                       8739 non-null   object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   8739 non-null   object
 6   latitude                        8739 non-null   float64
 7   longitude                       8739 non-null   float64
 8   room_type                       8739 non-null   object
 9   price                           8443 non-null   float64
 10  minimum_nights                  8739 non-null   int64
 11  number_of_reviews               8739 non-null   int64
 12  last_review                     7817 non-null   object
 13  reviews_per_month               7817 non-null   float64
 14  calculated_host_listings_count  8739 non-null   int64
 15  availability_365                8739 non-null   int64
 16  number_of_reviews_ltm           8739 non-null   int64
 17  license                         8661 non-null   object
dtypes: float64(5), int64(7), object(6)
memory usage: 1.2+ MB

In [250]:
#checking types
df_list_detail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8739 entries, 0 to 8738
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            8739 non-null   int64
 1   listing_url                                   8739 non-null   object
 2   scrape_id                                     8739 non-null   int64
 3   last_scraped                                  8739 non-null   object
 4   source                                        8739 non-null   object
 5   name                                          8739 non-null   object
 6   description                                   0 non-null      float64
 7   neighborhood_overview                         5346 non-null   object
 8   picture_url                                   8739 non-null   object
 9   host_id                                       8739 non-null   int64
 10  host_url                                      8739 non-null   object
 11  host_name                                     8739 non-null   object
 12  host_since                                    8739 non-null   object
 13  host_location                                 7778 non-null   object
 14  host_about                                    4707 non-null   object
 15  host_response_time                            5679 non-null   object
 16  host_response_rate                            5679 non-null   object
 17  host_acceptance_rate                          7377 non-null   object
 18  host_is_superhost                             8687 non-null   object
 19  host_thumbnail_url                            8739 non-null   object
 20  host_picture_url                              8739 non-null   object
 21  host_neighbourhood                            2953 non-null   object
 22  host_listings_count                           8739 non-null   int64
 23  host_total_listings_count                     8739 non-null   int64
 24  host_verifications                            8739 non-null   object
 25  host_has_profile_pic                          8739 non-null   object
 26  host_identity_verified                        8739 non-null   object
 27  neighbourhood                                 5346 non-null   object
 28  neighbourhood_cleansed                        8739 non-null   object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      8739 non-null   float64
 31  longitude                                     8739 non-null   float64
 32  property_type                                 8739 non-null   object
 33  room_type                                     8739 non-null   object
 34  accommodates                                  8739 non-null   int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                8730 non-null   object
 37  bedrooms                                      0 non-null      float64
 38  beds                                          8665 non-null   float64
 39  amenities                                     8739 non-null   object
 40  price                                         8443 non-null   object
 41  minimum_nights                                8739 non-null   int64
 42  maximum_nights                                8739 non-null   int64
 43  minimum_minimum_nights                        8739 non-null   int64
 44  maximum_minimum_nights                        8739 non-null   int64
 45  minimum_maximum_nights                        8739 non-null   int64
 46  maximum_maximum_nights                        8739 non-null   int64
 47  minimum_nights_avg_ntm                        8739 non-null   float64
 48  maximum_nights_avg_ntm                        8739 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              8443 non-null   object
 51  availability_30                               8739 non-null   int64
 52  availability_60                               8739 non-null   int64
 53  availability_90                               8739 non-null   int64
 54  availability_365                              8739 non-null   int64
 55  calendar_last_scraped                         8739 non-null   object
 56  number_of_reviews                             8739 non-null   int64
 57  number_of_reviews_ltm                         8739 non-null   int64
 58  number_of_reviews_l30d                        8739 non-null   int64
 59  first_review                                  7817 non-null   object
 60  last_review                                   7817 non-null   object
 61  review_scores_rating                          7825 non-null   float64
 62  review_scores_accuracy                        7825 non-null   float64
 63  review_scores_cleanliness                     7824 non-null   float64
 64  review_scores_checkin                         7825 non-null   float64
 65  review_scores_communication                   7825 non-null   float64
 66  review_scores_location                        7824 non-null   float64
 67  review_scores_value                           7824 non-null   float64
 68  license                                       8661 non-null   object
 69  instant_bookable                              8739 non-null   object
 70  calculated_host_listings_count                8739 non-null   int64
 71  calculated_host_listings_count_entire_homes   8739 non-null   int64
 72  calculated_host_listings_count_private_rooms  8739 non-null   int64
 73  calculated_host_listings_count_shared_rooms   8739 non-null   int64
 74  reviews_per_month                             7817 non-null   float64
dtypes: float64(18), int64(23), object(34)
memory usage: 5.0+ MB

#### The listing_details file contains a total of 74 variables. As I am not going to use all of them, did merge the variables that are needed for this research.

In [251]:
#checking overall shape
print(df_list.shape)

(8739, 18)

In [252]:
#checking types
df_cal.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,2818,2023-12-12,f,$59.00,NaN,3,1125
1,2818,2023-12-13,f,$59.00,NaN,3,1125
2,2818,2023-12-14,f,$59.00,NaN,3,1125
3,2818,2023-12-15,f,$59.00,NaN,3,1125
4,2818,2023-12-16,f,$59.00,NaN,3,1125

In [253]:
target_columns = ["id", "host_response_rate","host_since","host_response_time", "property_type", "accommodates", 
                  "first_review",
                 "review_scores_location",
                  "review_scores_communication","review_scores_rating", 
                  "maximum_nights", "host_is_superhost", 
                  "host_has_profile_pic"]
df_list_merge = pd.merge(df_list, df_list_detail[target_columns], on='id', how='left')
df_list_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8739 entries, 0 to 8738
Data columns (total 30 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              8739 non-null   int64
 1   name                            8739 non-null   object
 2   host_id                         8739 non-null   int64
 3   host_name                       8739 non-null   object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   8739 non-null   object
 6   latitude                        8739 non-null   float64
 7   longitude                       8739 non-null   float64
 8   room_type                       8739 non-null   object
 9   price                           8443 non-null   float64
 10  minimum_nights                  8739 non-null   int64
 11  number_of_reviews               8739 non-null   int64
 12  last_review                     7817 non-null   object
 13  reviews_per_month               7817 non-null   float64
 14  calculated_host_listings_count  8739 non-null   int64
 15  availability_365                8739 non-null   int64
 16  number_of_reviews_ltm           8739 non-null   int64
 17  license                         8661 non-null   object
 18  host_response_rate              5679 non-null   object
 19  host_since                      8739 non-null   object
 20  host_response_time              5679 non-null   object
 21  property_type                   8739 non-null   object
 22  accommodates                    8739 non-null   int64
 23  first_review                    7817 non-null   object
 24  review_scores_location          7824 non-null   float64
 25  review_scores_communication     7825 non-null   float64
 26  review_scores_rating            7825 non-null   float64
 27  maximum_nights                  8739 non-null   int64
 28  host_is_superhost               8687 non-null   object
 29  host_has_profile_pic            8739 non-null   object
dtypes: float64(8), int64(9), object(13)
memory usage: 2.0+ MB

In [254]:
# Removing neighbourhood_group as it not relevant as it contains 0 content. 

df_list_merge = df_list_merge.drop(columns=['neighbourhood_group'])
df_list_merge = df_list_merge.drop(columns=['license'])
df_list_merge = df_list_merge.drop(columns=['host_name'])
df_list_merge['host_response_rate'] = pd.to_numeric(df_list_merge['host_response_rate'].str.strip('%'))

df_list_merge.head()

,id,name,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,...,host_response_time,property_type,accommodates,first_review,review_scores_location,review_scores_communication,review_scores_rating,maximum_nights,host_is_superhost,host_has_profile_pic
0,2818,Condo in Amsterdam · ★4.90 · 1 bedroom · 2 bed...,3159,Oostelijk Havengebied - Indische Buurt,52.36435,4.94358,Private room,69.0,3,365,...,within an hour,Private room in condo,2,2009-03-30,4.71,4.98,4.90,28,t,t
1,20168,Townhouse in Amsterdam · ★4.44 · 1 bedroom · 1...,59484,Centrum-Oost,52.36407,4.89393,Private room,117.0,1,366,...,within an hour,Private room in townhouse,2,2010-03-02,4.88,4.61,4.44,365,f,t
2,27886,Houseboat in Amsterdam · ★4.93 · 1 bedroom · 1...,97647,Centrum-West,52.38761,4.89188,Private room,155.0,3,267,...,within an hour,Private room in houseboat,2,2012-01-09,4.89,4.92,4.93,356,t,t
3,28871,Rental unit in Amsterdam · ★4.87 · 1 bedroom ·...,124245,Centrum-West,52.36775,4.89092,Private room,79.0,2,569,...,within an hour,Private room in rental unit,2,2010-08-22,4.94,4.93,4.87,730,t,t
4,29051,Rental unit in Amsterdam · ★4.81 · 1 bedroom ·...,124245,Centrum-Oost,52.36584,4.89111,Private room,59.0,2,698,...,within an hour,Private room in rental unit,2,2011-03-16,4.88,4.92,4.81,730,t,t

In [255]:
df_list_merge.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,host_response_rate,accommodates,review_scores_location,review_scores_communication,review_scores_rating,maximum_nights
count,8.739000e+03,8.739000e+03,8739.000000,8739.000000,8443.000000,8739.000000,8739.000000,7817.000000,8739.00000,8739.000000,8739.000000,5679.000000,8739.000000,7824.000000,7825.000000,7825.000000,8739.000000
mean,3.448635e+17,1.095547e+08,52.366514,4.889732,251.160725,4.138803,45.042453,1.093275,1.73212,80.523630,10.475569,93.497623,2.902392,4.798282,4.903413,4.837604,370.290079
std,4.181954e+17,1.473164e+08,0.017253,0.035585,421.177934,17.108464,110.191857,2.305930,2.52209,112.853876,30.015613,18.253536,1.341186,0.255773,0.215054,0.245794,456.021040
min,2.818000e+03,3.159000e+03,52.290340,4.755870,10.000000,1.000000,0.000000,0.010000,1.00000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.957993e+07,1.058756e+07,52.355490,4.864860,144.000000,2.000000,3.000000,0.260000,1.00000,0.000000,0.000000,100.000000,2.000000,4.690000,4.890000,4.770000,20.000000
50%,4.553979e+07,3.725295e+07,52.365640,4.887550,200.000000,3.000000,9.000000,0.530000,1.00000,16.000000,3.000000,100.000000,2.000000,4.870000,5.000000,4.910000,50.000000
75%,7.911577e+17,1.454343e+08,52.376330,4.908849,297.000000,4.000000,35.000000,1.080000,1.00000,132.000000,7.000000,100.000000,4.000000,5.000000,5.000000,5.000000,730.000000
max,1.043564e+18,5.503263e+08,52.425159,5.026669,25457.000000,1001.000000,3528.000000,117.730000,22.00000,365.000000,1632.000000,100.000000,16.000000,5.000000,5.000000,5.000000,1125.000000

In [256]:
#checking for missing data
df_list_merge.isnull().sum()

id                                   0
name                                 0
host_id                              0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                              296
minimum_nights                       0
number_of_reviews                    0
last_review                        922
reviews_per_month                  922
calculated_host_listings_count       0
availability_365                     0
number_of_reviews_ltm                0
host_response_rate                3060
host_since                           0
host_response_time                3060
property_type                        0
accommodates                         0
first_review                       922
review_scores_location             915
review_scores_communication        914
review_scores_rating               914
maximum_nights                       0
host_is_superhost                   52
host_has_profile_pic                 0
dtype: int64

In [257]:
for col in df_list_merge.columns.tolist():
    weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_list_merge[weird]) > 0:
        print (col)

last_review
host_response_time
first_review
host_is_superhost

/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)

In [258]:
# update last_review & first_review from int to datetime

df_list_merge['last_review'] = pd.to_datetime(df_list_merge['last_review'], errors = 'ignore')

In [259]:
# update last_review & first_review from int to datetime

df_list_merge['first_review'] = pd.to_datetime(df_list_merge['first_review'], errors = 'ignore')

In [260]:
# update host_response_time from int to str
df_list_merge ['host_response_time'] = df_list_merge ['host_response_time'].astype('str', errors = 'ignore')

In [261]:
# update host_response_rate from int to float
df_list_merge ['host_response_rate'] = df_list_merge ['host_response_rate'].astype('float', errors = 'ignore')

In [262]:
# update host is superhost and host has profile has profile pic to boolean 
vals_to_replace = {"t": 1, "f":0}

column_boo = ['host_is_superhost', 'host_has_profile_pic']

for column in column_boo: 
    df_list_merge [column] = df_list_merge[column].map(vals_to_replace)

In [263]:
for col in df_list_merge.columns.tolist():
    weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_list_merge[weird]) > 0:
        print (col)

last_review
first_review

/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3685634633.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_list_merge[[col]].applymap(type) != df_list_merge[[col]].iloc[0].apply(type)).any(axis = 1)

In [264]:
df_list_merge.isnull().sum()

id                                   0
name                                 0
host_id                              0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                              296
minimum_nights                       0
number_of_reviews                    0
last_review                        922
reviews_per_month                  922
calculated_host_listings_count       0
availability_365                     0
number_of_reviews_ltm                0
host_response_rate                3060
host_since                           0
host_response_time                   0
property_type                        0
accommodates                         0
first_review                       922
review_scores_location             915
review_scores_communication        914
review_scores_rating               914
maximum_nights                       0
host_is_superhost                   52
host_has_profile_pic                 0
dtype: int64

In [275]:
#new df for host is superhost Nan values
df_nan = df_list_clean[df_list_clean['review_scores_location'].isnull()==True]

#check
df_nan

,id,name,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,...,host_response_time,property_type,accommodates,first_review,review_scores_location,review_scores_communication,review_scores_rating,maximum_nights,host_is_superhost,host_has_profile_pic
8498,1017123379516398253,Rental unit in Amsterdam · ★New · 2 bedrooms ·...,544834250,Centrum-Oost,52.372668,4.902379,Entire home/apt,379.0,2,1,...,within an hour,Entire rental unit,4,2023-12-02,NaN,5.0,5.0,1125,0.0,1

In [267]:
df_list_merge.shape

(8739, 27)

In [268]:
#new df with no missing values
df_list_clean = df_list_merge[df_list_merge['price'].isnull() == False]

In [269]:
df_list_clean = df_list_merge[df_list_merge['review_scores_rating'].isnull() == False]

In [270]:
df_list_clean = df_list_merge[df_list_merge['last_review'].isnull() == False]

In [241]:
df_list_clean = df_list_merge[df_list_merge['host_is_superhost'].isnull() == False]

In [272]:
#shape check
df_list_clean.shape

(7817, 27)

In [271]:
df_list_clean.isnull().sum()

id                                   0
name                                 0
host_id                              0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                              163
minimum_nights                       0
number_of_reviews                    0
last_review                          0
reviews_per_month                    0
calculated_host_listings_count       0
availability_365                     0
number_of_reviews_ltm                0
host_response_rate                2722
host_since                           0
host_response_time                   0
property_type                        0
accommodates                         0
first_review                         0
review_scores_location               1
review_scores_communication          0
review_scores_rating                 0
maximum_nights                       0
host_is_superhost                   47
host_has_profile_pic                 0
dtype: int64

###

In [276]:
#new df (df_list_clean) for finding duplicates
df_dups=df_list_clean[df_list_clean.duplicated()]

#check
df_dups

Empty DataFrame
Columns: [id, name, host_id, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365, number_of_reviews_ltm, host_response_rate, host_since, host_response_time, property_type, accommodates, first_review, review_scores_location, review_scores_communication, review_scores_rating, maximum_nights, host_is_superhost, host_has_profile_pic]
Index: []

[0 rows x 27 columns]

In [277]:
#first_review value_counts
df_list_clean['first_review'].value_counts(dropna=False)

first_review
2023-08-27    45
2023-08-28    42
2023-04-10    42
2023-04-09    28
2023-10-22    28
              ..
2017-07-20     1
2017-06-06     1
2017-07-29     1
2017-05-16     1
2023-11-28     1
Name: count, Length: 2541, dtype: int64

In [278]:
#host_is_superhost value_counts
df_list_clean['host_is_superhost'].value_counts(dropna=False)

host_is_superhost
0.0    6248
1.0    1522
NaN      47
Name: count, dtype: int64

In [148]:
#last_review value_counts
df_list_clean['last_review'].value_counts(dropna=False)

last_review
2023-12-03    202
2023-11-26    197
2023-10-22    165
2023-12-10    152
2023-11-19    146
             ...
2021-10-21      1
2018-10-29      1
2022-12-20      1
2019-12-08      1
2023-05-17      1
Name: count, Length: 1060, dtype: int64

In [279]:
df_list_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7817 entries, 0 to 8657
Data columns (total 27 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              7817 non-null   int64
 1   name                            7817 non-null   object
 2   host_id                         7817 non-null   int64
 3   neighbourhood                   7817 non-null   object
 4   latitude                        7817 non-null   float64
 5   longitude                       7817 non-null   float64
 6   room_type                       7817 non-null   object
 7   price                           7654 non-null   float64
 8   minimum_nights                  7817 non-null   int64
 9   number_of_reviews               7817 non-null   int64
 10  last_review                     7817 non-null   datetime64[ns]
 11  reviews_per_month               7817 non-null   float64
 12  calculated_host_listings_count  7817 non-null   int64
 13  availability_365                7817 non-null   int64
 14  number_of_reviews_ltm           7817 non-null   int64
 15  host_response_rate              5095 non-null   float64
 16  host_since                      7817 non-null   object
 17  host_response_time              7817 non-null   object
 18  property_type                   7817 non-null   object
 19  accommodates                    7817 non-null   int64
 20  first_review                    7817 non-null   datetime64[ns]
 21  review_scores_location          7816 non-null   float64
 22  review_scores_communication     7817 non-null   float64
 23  review_scores_rating            7817 non-null   float64
 24  maximum_nights                  7817 non-null   int64
 25  host_is_superhost               7770 non-null   float64
 26  host_has_profile_pic            7817 non-null   int64
dtypes: datetime64[ns](2), float64(9), int64(10), object(6)
memory usage: 1.7+ MB

In [282]:
rows_drop = df_list_clean.dropna (axis=0)

In [283]:
rows_drop.reset_index (inplace=True)

In [284]:
rows_drop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5050 entries, 0 to 5049
Data columns (total 28 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   index                           5050 non-null   int64
 1   id                              5050 non-null   int64
 2   name                            5050 non-null   object
 3   host_id                         5050 non-null   int64
 4   neighbourhood                   5050 non-null   object
 5   latitude                        5050 non-null   float64
 6   longitude                       5050 non-null   float64
 7   room_type                       5050 non-null   object
 8   price                           5050 non-null   float64
 9   minimum_nights                  5050 non-null   int64
 10  number_of_reviews               5050 non-null   int64
 11  last_review                     5050 non-null   datetime64[ns]
 12  reviews_per_month               5050 non-null   float64
 13  calculated_host_listings_count  5050 non-null   int64
 14  availability_365                5050 non-null   int64
 15  number_of_reviews_ltm           5050 non-null   int64
 16  host_response_rate              5050 non-null   float64
 17  host_since                      5050 non-null   object
 18  host_response_time              5050 non-null   object
 19  property_type                   5050 non-null   object
 20  accommodates                    5050 non-null   int64
 21  first_review                    5050 non-null   datetime64[ns]
 22  review_scores_location          5050 non-null   float64
 23  review_scores_communication     5050 non-null   float64
 24  review_scores_rating            5050 non-null   float64
 25  maximum_nights                  5050 non-null   int64
 26  host_is_superhost               5050 non-null   float64
 27  host_has_profile_pic            5050 non-null   int64
dtypes: datetime64[ns](2), float64(9), int64(11), object(6)
memory usage: 1.1+ MB

In [285]:
rows_drop.isnull().sum()

index                             0
id                                0
name                              0
host_id                           0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
number_of_reviews_ltm             0
host_response_rate                0
host_since                        0
host_response_time                0
property_type                     0
accommodates                      0
first_review                      0
review_scores_location            0
review_scores_communication       0
review_scores_rating              0
maximum_nights                    0
host_is_superhost                 0
host_has_profile_pic              0
dtype: int64

##  Export Data Set as 2023_Amsterdam_Airbnb_Data

In [286]:
#exporting cleaned listing file to prepared data folder as a new file 2023_Amsterdam_Airbnb_Data.csv
rows_drop.to_csv(os.path.join(path,'Prepared Data', '2023_Amsterdam_Airbnb_Data.csv'), index=False)

In [287]:
#exporting cleaned listing file to PKL 
rows_drop.to_pickle(os.path.join(path,'Prepared Data', '2023_amsterdam_airbnb_data.pkl'))

In [288]:
#delete df to save space 

del rows_drop

gc.collect()

2356

In [291]:
#delete df to save space 


del df_list_merge
del df_nan
del df_cal
del df_list
del df_list_detail

gc.collect()

963